<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change my name</title>
    <link rel="stylesheet" href="static/change_name.css" type="text/css">
    <script type=text/javascript src="/static/js/jquery-3.4.1.js"></script>
    <script src="static/js/socket.io.js"></script>
</head>
<body>
    <div class="header">
        <div id="mess"><a id="a_mess" href="{{ url_for('messenger') }}">MessFree</a></div>
        <div class="login"><h5><a href="{{ url_for('exit')}} ">Выйти</a></h5></div>
        <div class="uspg"><a id="user_page" href="{{ url_for('user_page') }}">Аккаунт</a></div>
    </div>

    <div class="content">
       	<form id="form">
            <label for="username">Новое имя</label>&nbsp;&nbsp;
            <input id="inp" type="text" name="username">
            <br>
            <br>
            <div id="button"><button id="bt">Изменить</button></div>
        </form>
        <br>
        <br>
        <div id="message"></div>
    </div>
    <script src="static/js/change_name.js"></script>
</body>
</html>